.calculator {
  text-align: center;
  margin: 20px;
}

input[type="text"] {
  width: 54%;
  height: 100px;
  font-size: 20px;
/*   margin: 10px 0; */
}

button {
  width: 85px;
  height: 80px;
  font-size: 24px;

}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  margin-left:140px;
/*   grid-gap: 3px; */
}

button#equal {
	background-color:#5555FF;
}
